@font-face {
  font-family: "MainHarry";
  src: url("./assets/ParryHotter.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Slithy";
  src: url("./assets/PARSELTO.TTF");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("/bgimg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.magic-title {
  font-family: "Slithy";
  font-size: 7rem;
  text-align: center;
  color: #18063ade;
  text-shadow: 2px 2px 0 #ffffff, 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20vh;
}
